.nav-container {
    display: grid;
    grid-template-columns: 20% auto;
}

.icon-container {
    display: grid;
    grid-template-columns: auto auto;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item{
    display: grid;
    align-items: center;
    justify-items: center;
}

li{
    display: inline-block;
    margin-right: 160px;
    
}

a{
    text-decoration: none;
}